<div class="events-container" [@fadeInOut]>
  <h2>Welcome to Our Events</h2>
  <div class="event-grid">
      <div *ngFor="let event of events" class="event-item" (mouseover)="animateEvent($event)">
          <div class="event-content">
              <img [src]="event.imagePath" alt="{{ event.name }} Image" class="event-image">
              <div class="event-details">
                  <h3>{{ event.name }}</h3>
                  <p>Date: {{ event.date }}</p>
                  <p>Description: {{ event.description }}</p>
              </div>
          </div>
      </div>
  </div>
</div>
